@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;

  /* blue */
  --color-blue-900: #253347;
  --color-blue-500: #345ff6;
  --color-blue-300: #b3d3f1;
  --color-blue-100: #e1e7fe;

  /* grey */
  --color-grey-500: #5e6e85;
  --color-blue-300: #acc1de;

  /* linear-gradient */
  --color-gadient-one: #d6fcfe;
  --color-gadient-two: #d6e6fe;

  /* font-size */
  --text-preset-1: 4rem;
  --text-preset-2: 3rem;
  --text-preset-3: 2rem;
  --text-preset-4: 1.5rem;
  --text-preset-5: 1.25rem;
  --text-preset-6: 1rem;
  --text-preset-7: 0.875rem;
}

@layer components {
  body {
    @apply font-inter antialiased min-h-dvh text-blue-900 scroll-smooth;
  }
}
